css

body {
    font-family: Arial, sans-serif;
}
.header {
    background-color: #800202;
    color: white;
    padding: 10px 0;
    text-align: center;
}
.footer {
    background-color: #800202;
    color: white;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.titulo-container {
    width: fit-content; /* Ajusta a largura ao conteúdo do título */
    margin: auto; /* Centraliza o container */
    background-color: pink; /* Cor de fundo rosa */
    text-align: center; /* Alinha o texto ao centro */
    padding: 10px; /* Espaçamento interno para o container */
    margin-top: 10px; /* Espaço acima do container */
}



.video-container {
    width: fit-content; /* Ajusta a largura ao conteúdo do vídeo */
    margin: auto; /* Centraliza o container */
}


.videos-wrapper {
    display: flex; /* Isso ativa o Flexbox */
    justify-content: space-around; /* Isso alinha os itens com espaço igual entre eles */
}

